@(message: String)

@main("Uzbekistan") {
  @navbar()
  <div class="container main-content">
    <div class="container">
      <table class="table table-striped">
        <tr>
          <th>Область</th>
          <th>Административный город</th>
        </tr>
        <tr>
          <td>Ташкент</td>
          <td>Ташкент</td>
        </tr>
        <tr>
          <td>Хоразм</td>
          <td>Ургенч</td>
        </tr>
        <tr>
          <td>Сурхандарё</td>
          <td>Термиз</td>
        </tr>
        <tr>
          <td>Сирдарё</td>
          <td>Гулистан</td>
        </tr>
        <tr>
          <td>Самарканд</td>
          <td>Cамарканд</td>
        </tr>
        <tr>
          <td>Бухара</td>
          <td>Бухара</td>
        </tr>
        <tr>
          <td>Джиззах</td>
          <td>Джиззах</td>
        </tr>
        <tr>
          <td>Фаргона</td>
          <td>Фаргона</td>
        </tr>
        <tr>
          <td>Андижон</td>
          <td>Андижон</td>
        </tr>
        <tr>
          <td>Наманган</td>
          <td>Наманган</td>
        </tr>
        <tr>
          <th>Автоном Республика</th>
          <th>Столица</th>
        </tr>
        <tr>
          <td>Каракалпакистан</td>
          <td>Нукус</td>
        </tr>
      </table>
    </div>
  </div>

}




